<!DOCTYPE html>
<html>
<head>
    <title>Add Blog</title>
</head>
<body>
    <h2>Add Blog</h2>
    <form method="POST">
        <label for="blog_name">Blog Name:</label><br>
        <input type="text" id="blog_name" name="blog_name"><br>
        
        <label for="preview">Preview:</label><br>
        <textarea id="preview" name="preview"></textarea><br>
        
        <label for="url">URL:</label><br>
        <input type="text" id="url" name="url"><br>
        
        <label for="owner">Owner:</label><br>
        <input type="text" id="owner" name="owner"><br>
        
        <label for="category">Category:</label><br>
        <input type="text" id="category" name="category"><br>
        
        <label for="publish_date">Publish Date:</label><br>
        <input type="date" id="publish_date" name="publish_date"><br>
        
        <label for="expire_date">Expire Date:</label><br>
        <input type="date" id="expire_date" name="expire_date"><br>
        
        <label for="relevance">Relevance:</label><br>
        <input type="text" id="relevance" name="relevance"><br>
        
        <label for="target_audience">Target Audience:</label><br>
        <input type="text" id="target_audience" name="target_audience"><br>
        
        <label for="region">Region:</label><br>
        <input type="text" id="region" name="region"><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
